/* Un elemento puede tener la misma clase a diferencia de 
de un ID  */

li {
    color: blue;
}
.ingrediente_faltante {
    color:red
    } 
.ingrediente_que_tenemos{
    color:green
} 

/* Este es un comentario en CSS */
/* Ahora escribimos un ID # , solo se puede usar una vez*/
/* una mala practica es usarlo para todo # */

#Ingrediente_secreto {
    color:brown
}


